black==21.12b0
bson==0.5.10
click==8.0.3
contextlib2==21.6.0
gtin==1.2.1631641032
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.4.1
python-dateutil==2.8.2
schema==0.7.5
six==1.16.0
tomli==1.2.3
typing_extensions==4.0.1
